In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/viriato/Documentos/projects/ciberlab_covid/data_base/caso_full.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196928 entries, 0 to 2196927
Data columns (total 18 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   city                                           object
 1   city_ibge_code                                 float64
 2   date                                           object
 3   epidemiological_week                           int64
 4   estimated_population                           float64
 5   estimated_population_2019                      float64
 6   is_last                                        bool
 7   is_repeated                                    bool
 8   last_available_confirmed                       int64
 9   last_available_confirmed_per_100k_inhabitants  float64
 10  last_available_date                            object
 11  last_available_death_rate                      float64
 12  last_available_deaths                          int64
 13  order_for_place                                int64
 14  place_type                                     object
 15  state                                          object
 16  new_confirmed                                  int64
 17  new_deaths                                     int64
dtypes: bool(2), float64(5), int64(6), object(5)
memory usage: 272.4+ MB

In [12]:
df.loc[[0,10], ['date','city', 'place_type', 'state','last_available_deaths']]

          date        city place_type state  last_available_deaths
0   2020-03-17  Rio Branco       city    AC                      0
10  2020-03-22  Rio Branco       city    AC                      0

In [8]:
df

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0000,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0000,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0000,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0000,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0000,0,3,city,AC,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196923,Tupirama,1721257.0,2021-06-05,202122,1922.0,1891.0,False,True,144,7492.19563,2021-05-30,0.0139,2,379,city,TO,0,0
2196924,Tupiratins,1721307.0,2021-06-05,202122,2729.0,2671.0,False,True,93,3407.84170,2021-05-30,0.0108,1,379,city,TO,0,0
2196925,Wanderlândia,1722081.0,2021-06-05,202122,11734.0,11683.0,False,True,803,6843.36117,2021-05-30,0.0149,12,404,city,TO,0,0
2196926,Xambioá,1722107.0,2021-06-05,202122,11520.0,11540.0,False,True,2085,18098.95833,2021-05-30,0.0129,27,393,city,TO,0,0
2196927,NaN,17.0,2021-06-05,202122,1590248.0,1572866.0,False,True,182138,11453.43368,2021-06-04,0.0161,2936,445,state,TO,0,0